.newTodoPlace{
  margin-top: 1em;
}

.myGrid{
  width: 100%;
  display: grid;
  grid-template-columns: 25px auto 25px;
  column-gap: 5px;
  margin-bottom: 1em;
  align-items: center;
  border: .25px black solid;
  padding: 2px;
  background-color: #eee;
  border-radius: 3px;
}

.changeCompleteBtn{
  height: 25px;
  width: 25px;
  background-color: #333;
  color: white;
  border: 1px black solid;
  border-radius: 3px;
}

.taskDelBtn{
  width: 25px;
  height: 25px;
  background-color: darkred;
  color: white;
  border-radius: 50%;
  border: 1px black solid;
}

.taskDelBtn:focus{
  outline: none !important;
}

.taskDelBtn:hover{
  background-color: red;
}

.taskDelBtn:active{
  transform: scale(0.9)
}